#cronometro{
    width: 460px;
    height: 230px;
    margin: 0 auto;
    border: 1px solid black;
}
#cronometro .cronometroHeader{
    height: 85%;
    border: 1px solid black;
}
#cronometroData{
    margin-top: 45px;
    text-align: center;
    font-size: 40px;
    display: block;
}
#cronometroHora{
    text-align: center;
    font-size: 70px;
    display: block;
}
#cronometro .cronometroFooter{
    height: 15%;
    border: 1px solid black;
}
#cronometro button{
    min-width: 100px;
    margin: 5px;
}